.walk-counter {
	margin: 20px auto;
	width: 500px;
}

.form {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.form-elem {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.table {
	/* margin-top: 20px; */
}

td, th {
	text-align: center;
}